.aider*
.env
airag/
rag_app/__pycache__/__init__.cpython-312.pyc
rag_app/__pycache__/document_loader.cpython-312.pyc
rag_app/__pycache__/indexing.cpython-312.pyc
rag_app/__pycache__/querying.cpython-312.pyc
